<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div class="container">
    <div class="row">
      <form (submit)="onSubmit()" #userForm="ngForm" class="w-100">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <span name="content"></span>
              <input type="text" name="content" class="form-control" placeholder="*Quote" 
              required 
              minlength="4" 
              [(ngModel)]='quote.content' 
              #content="ngModel" />
              <div class="errors">
                <p *ngIf="content.errors && content.dirty">Quote is required</p>
              </div>
            </div>
              <div class="form-group">
                <span name="author"></span>
                <input type="text" name="author" class="form-control" placeholder="*Author's Name" 
                required 
                minlength="2" 
                maxlength="24" 
                [(ngModel)]='quote.author'
                #author="ngModel" />
                <div class="errors">
                  <p *ngIf="author.errors && author.dirty">Author is required</p>
                </div>
                <div class="form-group">
                  <button class="btn btn-default" *ngIf="!userForm.valid" disabled>Submit Quote!</button>
                  <button type="submit" class="btn btn-default" *ngIf="userForm.valid">Submit Quote!</button>
                </div>
              </div>
          </div>
        </div>
      </form>
<app-quotes-list [myQuotes]="quote"></app-quotes-list>

