<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title | uppercase}}!
  </h1>

<!-- <div *ngFor='let color of colorBar'>
  <div [ngStyle]="{ 'background-color': color, 'font-weight': 'bold' }">
    <p>Color 1</p>
  </div>
</div> -->

<div>
  <div [ngStyle]="{ 'background-color': randomColor, 'font-weight': 'bold', 'width': '100px', 'height': '100px', 'display': 'inline-block' }">
    <p>Color 1</p>
  </div>
  <div [ngStyle]="{ 'background-color': randomColor, 'font-weight': 'bold', 'width': '100px', 'height': '100px', 'display': 'inline-block' }">
    <p>Color 2</p>
  </div>
  <div [ngStyle]="{ 'background-color': randomColor, 'font-weight': 'bold', 'width': '100px', 'height': '100px', 'display': 'inline-block' }">
    <p>Color 3</p>
  </div>
  <div [ngStyle]="{ 'background-color': randomColor, 'font-weight': 'bold', 'width': '100px', 'height': '100px', 'display': 'inline-block' }">
    <p>Color 4</p>
  </div>
  <div [ngStyle]="{ 'background-color': randomColor, 'font-weight': 'bold', 'width': '100px', 'height': '100px', 'display': 'inline-block' }">
    <p>Color 5</p>
  </div>
</div>
</div>